{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('header') }}
{% endblock %}

{% block title %}
	{{ parent() }} - Acceuil
{% endblock %}

{% block body %}
	<h1>Jobpermut</h1>
	{% include "includes/_header.html.twig" %}
{% endblock %}
