{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('header') }}
{% endblock %}

{% block title %}
    {{ parent() }}
    - Acceuil
{% endblock %}

{% block body %}
    {% include "includes/_header.html.twig" %}

    <section class="testimony" id="#testimony">
        <h2 class="h2 text-center">Témoignages</h2>
        <h3 class="h3 text-center">Ils ont essayé Jobpermut et ils ont aimé !</h3>
    </section>
{% endblock %}
