	<header>
		<div class="jumbotron mb-0">
			<div class="container-fluid">
				<div class="text-center display-4">
					<img src="{{ asset('build/images/logo_header.png') }}">
					<h3 class="lead">Échangez votre travail</h3>
				</div>
			</div>
		</div>
		<div class="jumbotron">
			<div class="container-fluid">
				<div class="d-flex justify-content-around">
					<img src="{{ asset('build/images/logo_chrono.svg') }}">
					<img src="{{ asset('build/images/logo_home.svg') }}">
					<img src="{{ asset('build/images/logo_map.svg') }}">
				</div>
			</div>
		</div>
	</header>