<header>
	<div class="jumbotron mb-0 d-flex justify-content-around jumbo_header ">
    <a class="btn btn-primary btn-lg align-self-end mb-3" href="{{ path('home') }}">Découvrir Jobpermut</a>
    </div>
	<div class="jumbotron jumbo_banner">
		<div class="container-fluid">
			<div class="d-flex justify-content-around logo_banner ">
				<img src="{{ asset('build/images/logo_chrono.svg') }}">
				<img src="{{ asset('build/images/logo_home.svg') }}">
				<img src="{{ asset('build/images/logo_map.svg') }}">
			</div>
		</div>
	</div>
</header>
