<header>
	<div class="jumbotron mb-0 jumbo_header"></div>
	<div class="jumbotron jumbo_banner">
		<div class="container-fluid">
			<div class="logo_banner">
				<img src="{{ asset('build/images/logo_chrono.svg') }}">
				<img src="{{ asset('build/images/logo_home.svg') }}">
				<img src="{{ asset('build/images/logo_map.svg') }}">
			</div>
		</div>
	</div>
</header>
