<section>
    <div class="container-fluid presentation-container">
        <div class="row">
            <div class="text-center">
                <h2 class="h1 page-title">
                    JobPermut c'est quoi ?
                </h2>
                <h3 class="h2 page-subtitle">
                    comment ça marche ?
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <ol>
                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>1</p>
                        </div>
                        <div class="list-text">
                            <div class="h1 mb-0 list-title">Je me rends sur jobpermut.fr</div>
                            <div class="h3 mt-0 text-muted list-subtitle">Puis je rentre mon lieu de domicile et de travail</div>
                        </div>
                    </li>
                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>2</p>
                        </div>
                        <div class="list-text">
                            <div class="h1 mb-0 list-title">J'estime le temps passé sur mon trajet </div>
                            <div class="h3 mt-0 text-muted list-subtitle">J'ai un aperçu des échanges potentiels</div>
                        </div>
                    </li>
                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>3</p>
                        </div>
                        <div class="list-text">
                            <div class="h1 mb-0 list-title">Je m'inscris et rentre mes infos personnelles</div>
                            <div class="h3 mt-0 text-muted list-subtitle">Je peux proposer le match à d'autres utilisateurs</div>
                        </div>
                    </li>

                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>4</p>
                        </div>
                        <div class="list-text">
                            <div class="h1 mb-0 list-title">Je passe en premium</div>
                            <div class="h3 mt-0 text-muted list-subtitle">Je peux valider le match et voir ceux qu'on me propose</div>
                        </div>
                    </li>
                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>5</p>
                        </div>
                        <div class="list-text">
                            <div class="h1 mb-0 list-title">Le match est accepté par les deux utilisateurs</div>
                            <div class="h3 mt-0 text-muted list-subtitle">Notre dossier est analysé par l'équipe JobPermut</div>
                        </div>
                    </li>
                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>
                                <i class="fas fa-check"></i>
                            </p>
                        </div>
                        <div class="list-text">
                            <div class="h1 mb-0 list-title">Je permut !</div>
                            <div class="h3 mt-0 text-muted list-subtitle">Et réalise de belles économies de temps et d'argent !</div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
