<section>
    <div class="container-fluid presentation-container">
        <div class="row">
            <div class="text-center">
                <h2 class="h1 page-title">
                    JobPermut c'est quoi ?
                </h2>
                <h3 class="h2 page-subtitle">
                    comment ça marche ?
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <ol>
                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>1</p>
                        </div>
                        <div class="list-text">
                            <div class="h1 list-title">Je me rends sur jobpermut.fr</div>
                            <div class="h3 text-muted list-subtitle">C'est une première étape non ?</div>
                        </div>
                    </li>
                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>2</p>
                        </div>
                        <div class="list-text">
                            <div class="h1 list-title">Je m'inscris et rentre mes infos personnelles</div>
                            <div class="h3 text-muted list-subtitle">Et çà, une seconde étape non ?</div>
                        </div>
                    </li>
                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>3</p>
                        </div>
                        <div class="list-text">
                            <div class="h1 list-title">Je selectionne mon trajet quotidien</div>
                            <div class="h3 text-muted list-subtitle">Si je ne m'abuse, c'est la 3ème celle là ?</div>
                        </div>
                    </li>

                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>4</p>
                        </div>
                        <div class="list-text">
                            <div class="h1 list-title">Je match avec un autre utilisateur</div>
                            <div class="h3 text-muted list-subtitle">La quaaaatrièèèèème ?</div>
                        </div>
                    </li>
                    <li class="d-flex justify-content-start align-items-center list">
                        <div class="mx-3 number">
                            <p>
                                <i class="fas fa-check"></i>
                            </p>
                        </div>
                        <div class="list-text">
                            <div class="h1 list-title">C'est bon !</div>
                            <div class="h3 text-muted list-subtitle">C'est fini, plus d'étape ...</div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>