<div class="visitorForm d-flex flex-column justify-content-center text-dark bg-light rounded-5 col-12 p-4">
    <h2 class="text-warning text-center col-12 h1">Evaluation de votre trajet</h2>
    <h3 class="h3 fw-light text-center">Vous faites en moyenne {{ app.request.get('tripSummary').distance }} kilomètres par jour,
    soit {{ app.request.get('tripSummary').duration }} heures passés dans votre voiture.</h3>
    <h3 class="h3 fw-light text-center"> Cela équivaut à<br>{{ app.request.get('tripSummary').annualDistance }} kilomètres<br>
    et<br>{{ app.request.get('tripSummary').annualDuration }}<br>par an<h3/>
</div>
