@import 'variables';

$height: 100vh;
$width: 100vw;

.outer-admin-container {
    height: $height;
    .admin-card {
        width: $width/5;
        border: 2px solid $light;
        border-radius: 0.6em;
        padding: 3vh;
        .logoAdmin {
            font-size: 10vh;
            padding: 3vh;
        }
    }
}
