@import 'variables';
@import '~bootstrap/scss/bootstrap';

body {
    background-color: $light;
    color: $dark;
    font-family: $font-p;
}

h1,
h2 {
    font-family: $title-font;
}

h3 {
    font-family: $font-size-p;
    font-weight: 300;
}

p {
    font-size: $font-size-p;
}

.btn {
    font-family: $title-font;
    border-radius: 10px;
}
