@import "variables";

footer {
    font-family: $font-p;
    font-size: $font-size-p;
    $fab-width: 36px;
    $fab-padding: 10px;
    $fab-border-radius: 50%;
    $fab-hover-opacity: .7;
    $fab-hover-transition-duration: .7s;

    a {
        text-decoration: none;
        color: $primary;
        
        &:hover {
            text-decoration: underline;
            color: $primary;
        }
    }

    .fab {
        color: $secondary;
        background-color: $primary;
        width: $fab-width;
        border-radius: $fab-border-radius;
        padding: $fab-padding;

        &:hover {
            opacity: $fab-hover-opacity;
            transition-duration: $fab-hover-transition-duration;
        }
    }

    .title {
        font-family: $title-font;
        color: $primary;
        font-size: $font-size-p * 1.5;
    }

    .paragraph {
        color: $primary;
    }
}
