@import 'variables';

footer {
    font-family: $font-p;
    font-size: $font-size-p;

    a {
        text-decoration: none;
        color : $primary;
        &:hover {
            text-decoration: underline;
            color : $primary;
        }
    }

    .fab {
        color : $secondary;
        background-color: $primary;
        width: 36px;
        border-radius: 50%;
        padding:  10px;

        
        &:hover {
            opacity: 0.7;
            transition-duration: 0.7s
        }
    }

    .title {
        font-family: $title-font;
        color : $primary;
        font-size: $font-size-p * 1.5;
    }

    .paragraph {
        color : $primary;
    }
}
