@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
$header_height: 50vh;
$header_width: 100%;
$spacing_logo: 2em;
.jumbo_header{
    background-color : $light;
    background-image: url('../images/logo_header.png');
    height: $header_height;
    width: $header_width;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
}

.jumbo_banner{
    background-color : $dark;
}

.logo_banner img{
    padding: $spacing_logo;
    margin: $spacing_logo;
}