@import 'variables.scss';
@import 'app.scss';
@import '~leaflet/dist/leaflet.css';

header {
    img {
        $width: 700px;
        width: $width;
    }

    .banner-icons {
        background-color: $dark;
        color: $light;

        .card-banner {
            $width: 300px;
            width: $width;

            .title-icons {
                $font-size: 1.1em;
                font-family: $font-p;
                font-weight: bold;
                font-size: $font-size;
            }

            i {
                $font-size: 3em;
                font-size: $font-size;
            }

            .txt-banner {
                $font-weight: 300;
                font-weight: $font-weight;
            }
        }
    }
}

.freeMap {
    #map {
        height: 100vh;
    }
}

$margin-bot:1.5em;

.presentation-container {
    background-color: $dark;
    color: $secondary;

    .page-title {
        margin-top: 0.5em;
    }

    .page-subtitle {
        margin-bottom: $margin-bot;
    }
}

.list {
    $outline-spacing: 0;

    margin-bottom: $margin-bot;
    list-style: none;
    padding: $outline-spacing;
    margin: $outline-spacing;

    .list-text {
        margin-left: 2em;
    }

    .list-title {
        font-family: $title-font;
    }

    .list-subtitle {
        font-family: $font-p;
        font-weight: 300;
    }

    .number {
        $size:80px;
        $inline-spacing:0;
        $placement: center;

        background-color: $white;
        width: $size;
        height: $size;
        border-radius: 90px;
        color: $dark;
        font-weight: bold;
        font-size: 40px;
        margin: 1em;
        padding: $inline-spacing;
        display: flex;
        justify-content: $placement;
        align-items: $placement;

        p {
            padding: $inline-spacing;
            margin: $inline-spacing;
            width: $size;
            height: $size;
            display: flex;
            justify-content: $placement;
            align-items: $placement;
        }
    }
}
