@import "variables";

.navbar {
    $height: 100px;
    $font-size-navbar: 1.3em;

    font-family: $title-font;
    font-size: $font-size-navbar;

    .logo-navbar {
        $width-logo: 220px;
        width: $width-logo;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    .fa-bars {
        color: $primary;
        font-size: 40px;
    }

    a {
        transition: all 0.5s ease-out;
        &:hover {
            color: $warning;
            filter: brightness(0%);
            transition: all 0.5s ease-out;
        }
    }
}
